@font-face {
    font-family: 'StateFaceRegular';
    src: url('../fonts/stateface-regular-webfont.eot');
    src: url('../fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stateface-regular-webfont.woff') format('woff'),
         url('../fonts/stateface-regular-webfont.ttf') format('truetype'),
         url('../fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



[class*="headline__"] {
  color: $red;
  font-weight: bold;
}

.headline__page-title {
  font-size: $font--xlarge;
  text-align: center;
}
