<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <base href="/" target="_self" />
    <title>New Aplication</title>
  </head>
  <body>
    <script src="http://localhost:8080/webpack-dev-server.js"></script>
    <script>
      window.start({
        "serverBasePath": "",
        "homeRaterUrl": "http://tlpar.pekininsurance.com:8085/cics/PPI2340?NHQ",
        "user": {
          "name": "Fake User",
          "agencyNumber": "A000123",
        },
      });
    </script>
  </body>
</html>
