<div>
  <label for="{{ elementId }}" class="primary-label">
    {{ label }}
  </label>

  <div ng-if="input.shouldShowErrors()">
    <div class="field-error"
         ng-repeat="error in errors">
      {{ error }}
    </div>
  </div>

  <input id="{{ elementId }}"
         placeholder="{{ placeholder }}"
         class="{{ inputClass }}"
         alt="{{ label }}"
         ng-class="input.isValid() ? 'valid': 'invalid'"
         type="text"
         maxlength="{{ maxlength }}"
         ng-change="input.changed()"
         ng-blur="input.blurred()"
         ng-model="model" />
</div>
